In [199]:
from bs4 import BeautifulSoup
import requests

Question7

In [154]:
page = requests.get('https://www.naukri.com/datascience-recruiters')

In [155]:
page

In [156]:
soup = BeautifulSoup(page.content)

In [157]:
Name=soup.find_all('a',class_="ellipsis")
Names=[]
for i in range(0,70,2):
    Names.append(Name[i].get_text().split('|'))
    
Names

[['Rose Mary'],
 ['Jatin Nagpal'],
 ['Besant Technologies'],
 ['Shanthi'],
 ['Dilip'],
 ['Sakshi Singh'],
 ['JTS'],
 ['TA'],
 ['POONAM KUMARI'],
 ['Chandra'],
 ['Niharika'],
 ['Joyce Roslin'],
 ['Sandeep Selvan'],
 ['Rajashekar'],
 ['Binary Fox'],
 ['Anujhgna'],
 ['PoojaHR'],
 ['Pooja HR'],
 ['BlockSec Privacy'],
 ['Techsel Solutions'],
 ['Namratha'],
 ['Sai Theja'],
 ['Madhu Mohan Rao Neelam'],
 ['bindu pathella'],
 ['Maran'],
 ['Sandeep Seth'],
 ['Vijayalakshmi'],
 ['Richa Awasthi'],
 ['Samuel'],
 ['Naveen V'],
 ['P N Venugopal'],
 ['Mohideen'],
 ['Magesh Kumar Quess Corp'],
 ['Jyoti Moily'],
 ['Rishika Seth']]

In [158]:
Designation =[]

for i in soup.find_all('span',class_="ellipsis clr"):
    Designation.append(i.text)


Designation

['Talent Acquisition Specialist',
 'Company Recruiter',
 'Assistant Manager',
 'Company Recruiter',
 'HR Executive',
 'Company Recruiter',
 'HR',
 'Company Recruiter',
 'Recruitment consultant',
 'Company Recruiter',
 'HR',
 'HR IT Recruiter',
 'Sr Consultant',
 'Talent Acquisition Executive',
 'Company Recruiter',
 'HR Manager',
 'HR Recruiter',
 'HR Recruiter',
 'Vice President HR',
 'Human Resource Management',
 'Senior Human Resources Executive',
 'Operations Lead',
 'Company Recruiter',
 'Company Recruiter',
 'Director',
 'Co Director',
 'Senior Recruiter',
 'TA &amp; Operation Manager',
 'Senior Executive TAG',
 'Recruitment Consultant',
 'Recruitment Consultant',
 'Recruitment Consultant',
 'Senior Consultant IT Recruitment',
 'Managing partner',
 'Chief Financial Officer']

In [159]:
company=soup.find_all('a',class_="ellipsis")
company_name=[]
for i in range(1,70,2):
    company_name.append(company[i].get_text().split('|'))
    
company_name

[['Flex i Partners'],
 ['Cvent India Pvt. Ltd.'],
 ['Besant Technologies'],
 ['Iris Technologies'],
 ['Greens Technologys Velachery'],
 ['Holcim Services (South Aisa) Limited'],
 ['Jignasa Techno Solutions Pvt Ltd'],
 ['Manipal Global Education Services Private...'],
 ['Theexceptionals'],
 ['A2Z CONTACTS PRIVATE LIMITED'],
 ['SaltSide'],
 ['Aegan Technologies Pvt Ltd'],
 ['Wenger &amp; Watson'],
 ['CBSI India Pvt. Ltd.'],
 ['BINARY FOX SERVICES LLP'],
 ['Zopak Software Private Limited'],
 ['Magneq Software'],
 ['Magneq Software'],
 ['BlockSec Privacy'],
 ['Techsel Solutions'],
 ['Global Sena Consultancy Pvt. Ltd.'],
 ['Sumyag Data Sciences Private Limited'],
 ['CoArtha Technosolutions Private Limited'],
 ['Sansach Technologies'],
 ['DISTINCT SYSTEMS &amp; TECHNOLOGIES PRIVATE...'],
 ['Data Science Technologies Pvt Ltd'],
 ['Avyayh'],
 ['Uberlife Consulting Private Limited'],
 ['Innominds'],
 ['JoulestoWatts Business Solutions Pvt Ltd'],
 ['P N Venugopal Associates'],
 ['Inceptez Technologies'],
 ['Quess Corp Ltd.'],
 ['Unitres Business Solutions'],
 ['Datascience Technologies Pvt. Ltd.']]

In [160]:
Skills =[]

for i in soup.find_all('div',class_="hireSec highlightable"):
    Skills.append(i.text)


Skills

['    Senior Management,   Information Technology,   Facility Management,   Indirect Taxation,   Key Account Management,   Asm,   Deputy Manager,   Zonal M,   Zonal,   Custom    ',
 ' Not Specified ',
 '    Training,   Education    ',
 ' Not Specified ',
 '    Human Resource Management,   Software Development    ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 '    Biz Talk Developer,   Biztal,   Biztal Server,   Biz- Talk,   Application Support,   Linux System Administration.,   Server management Engineer,   support    ',
 ' Not Specified ',
 ' Not Specified ',
 '    Fetchr India,   Intellectyx DataScience Pvt Ltd    ',
 '    CONFIDENCIAL    ',
 ' Not Specified ',
 '    Frontend,   Backend,   Fullstack,   Tester,   Erp,   Dwh,   Infrastructure,   Datascience,   Mulesoft,   Dba,   Mainframes,   Sitecore,   Mobility,   Networking,   Etc.    ',
 '    html5,   css,   javascript,   Qa Testing,   Scala,   Angularjs,   Node.js,   Express,   Seo,   Business Analysis,   Business Development,   Wordpress,   Magento,   Prestashop,   Opencart    ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 '    Data Science,   Engineering,   Data Analysis,   Big Data,   Python    ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 ' Not Specified ',
 '    Guidewire,   Ui Development,   Pega Prpc,   Pega Rules Process Commander,   Java,   Core Java    ',
 ' Not Specified ',
 ' Not Specified ']

In [161]:
Location =[]

for i in soup.find_all('small',class_="ellipsis"):
    Location.append(i.text)


Location

['Bengaluru / Bangalore',
 'Gurgaon',
 'Chennai',
 'Chennai',
 'Chennai',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Coimbatore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Uttar Pradesh - Other',
 'Hyderabad / Secunderabad',
 'Hyderabad / Secunderabad',
 'Hyderabad / Secunderabad',
 'Pune',
 'Hyderabad / Secunderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'thane',
 'Chennai',
 'Pune',
 'Chennai',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Chennai',
 'Chennai',
 'THANE',
 'Pune']

In [162]:
print(len(Names),len(Designation),len(Skills),len(Location))

35 35 35 35

In [163]:
df=pd.DataFrame({'Names':Names,'Designation':Designation,'Skills':Skills,'Location':Location})
df

,Names,Designation,Skills,Location
0,[Rose Mary],Talent Acquisition Specialist,"Senior Management, Information Technolog...",Bengaluru / Bangalore
1,[Jatin Nagpal],Company Recruiter,Not Specified,Gurgaon
2,[Besant Technologies],Assistant Manager,"Training, Education",Chennai
3,[Shanthi],Company Recruiter,Not Specified,Chennai
4,[Dilip],HR Executive,"Human Resource Management, Software Deve...",Chennai
5,[Sakshi Singh],Company Recruiter,Not Specified,Mumbai
6,[JTS],HR,Not Specified,Hyderabad / Secunderabad
7,[TA],Company Recruiter,Not Specified,Bengaluru / Bangalore
8,[POONAM KUMARI],Recruitment consultant,"Biz Talk Developer, Biztal, Biztal Ser...",Mumbai
9,[Chandra],Company Recruiter,Not Specified,Hyderabad / Secunderabad
10,[Niharika],HR,Not Specified,Bengaluru / Bangalore
11,[Joyce Roslin],HR IT Recruiter,"Fetchr India, Intellectyx DataScience Pv...",Coimbatore
12,[Sandeep Selvan],Sr Consultant,CONFIDENCIAL,Bengaluru / Bangalore
13,[Rajashekar],Talent Acquisition Executive,Not Specified,Bengaluru / Bangalore
14,[Binary Fox],Company Recruiter,"Frontend, Backend, Fullstack, Tester...",Uttar Pradesh - Other
15,[Anujhgna],HR Manager,"html5, css, javascript, Qa Testing, ...",Hyderabad / Secunderabad
16,[PoojaHR],HR Recruiter,Not Specified,Hyderabad / Secunderabad
17,[Pooja HR],HR Recruiter,Not Specified,Hyderabad / Secunderabad
18,[BlockSec Privacy],Vice President HR,Not Specified,Pune
19,[Techsel Solutions],Human Resource Management,Not Specified,Hyderabad / Secunderabad
20,[Namratha],Senior Human Resources Executive,Not Specified,Hyderabad / Secunderabad
21,[Sai Theja],Operations Lead,"Data Science, Engineering, Data Analys...",Bengaluru / Bangalore
22,[Madhu Mohan Rao Neelam],Company Recruiter,Not Specified,Hyderabad / Secunderabad
23,[bindu pathella],Company Recruiter,Not Specified,thane
24,[Maran],Director,Not Specified,Chennai
25,[Sandeep Seth],Co Director,Not Specified,Pune
26,[Vijayalakshmi],Senior Recruiter,Not Specified,Chennai
27,[Richa Awasthi],TA &amp; Operation Manager,Not Specified,Bengaluru / Bangalore
28,[Samuel],Senior Executive TAG,Not Specified,Hyderabad / Secunderabad
29,[Naveen V],Recruitment Consultant,Not Specified,Bengaluru / Bangalore
30,[P N Venugopal],Recruitment Consultant,Not Specified,Bengaluru / Bangalore
31,[Mohideen],Recruitment Consultant,Not Specified,Chennai
32,[Magesh Kumar Quess Corp],Senior Consultant IT Recruitment,"Guidewire, Ui Development, Pega Prpc, ...",Chennai
33,[Jyoti Moily],Managing partner,Not Specified,THANE
34,[Rishika Seth],Chief Financial Officer,Not Specified,Pune

Question8

In [164]:
page = requests.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [165]:
page

In [166]:
soup = BeautifulSoup(page.content)

In [167]:
Book_Name =[]

for i in soup.find_all('td',id='table-cell-10943-0-1'):
    Book_Name.append(i.text)


Book_Name

[' Da Vinci Code,The ']

In [168]:
Author_Name =[]

for i in soup.find_all('td',id='table-cell-10943-0-2'):
    Author_Name.append(i.text)


Author_Name

[' Brown, Dan ']

In [169]:
Volume =[]

for i in soup.find_all('td',id='table-cell-10943-0-3'):
    Volume.append(i.text)


Volume

[' 5,094,805 ']

In [170]:
Publisher=[]
for i in soup.find_all('td',id='table-cell-10943-0-4'):
    Publisher.append(i.text)


Publisher

[' Transworld ']

In [171]:
Genre=[]
for i in soup.find_all('td',id='table-cell-10943-0-5'):
    Genre.append(i.text)


Genre

[' Crime, Thriller & Adventure ']

In [172]:
df=pd.DataFrame({'Names':Book_Name,'Autor':Author_Name,'Volume':Volume,'Publisher':Publisher,'Genre':Genre})
df

,Names,Autor,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"

Question9

In [173]:
page = requests.get('https://www.imdb.com/list/ls095964455/')

In [174]:
page

In [175]:
soup = BeautifulSoup(page.content)

In [176]:
names=soup.find_all('h3',class_="lister-item-header")
series_names=[]
for i in range(0,100):
    series_names.append(names[i].get_text().replace("\n",""))
series_names

['1.Game of Thrones(2011–2019)',
 '2.Stranger Things(2016– )',
 '3.The Walking Dead(2010–2022)',
 '4.13 Reasons Why(2017–2020)',
 '5.The 100(2014–2020)',
 '6.Orange Is the New Black(2013–2019)',
 '7.Riverdale(2017– )',
 "8.Grey's Anatomy(2005– )",
 '9.The Flash(2014– )',
 '10.Arrow(2012–2020)',
 '11.La casa de papel(2017–2021)',
 '12.The Big Bang Theory(2007–2019)',
 '13.Black Mirror(2011–2019)',
 '14.Sherlock(2010–2017)',
 '15.Vikings(2013–2020)',
 '16.Pretty Little Liars(2010–2017)',
 '17.The Vampire Diaries(2009–2017)',
 '18.American Horror Story(2011– )',
 '19.Breaking Bad(2008–2013)',
 '20.Lucifer(2016–2021)',
 '21.Supernatural(2005–2020)',
 '22.Prison Break(2005–2017)',
 '23.How to Get Away with Murder(2014–2020)',
 '24.Teen Wolf(2011–2017)',
 '25.The Simpsons(1989– )',
 '26.Once Upon a Time(2011–2018)',
 '27.Narcos(2015–2017)',
 '28.Daredevil(2015–2018)',
 '29.Friends(1994–2004)',
 '30.How I Met Your Mother(2005–2014)',
 '31.Suits(2011–2019)',
 '32.Mr. Robot(2015–2019)',
 '33.The Originals(2013–2018)',
 '34.Supergirl(2015–2021)',
 '35.Gossip Girl(2007–2012)',
 '36.Sense8(2015–2018)',
 '37.Gotham(2014–2019)',
 '38.Westworld(2016– )',
 '39.Jessica Jones(2015–2019)',
 '40.Modern Family(2009–2020)',
 '41.Rick and Morty(2013– )',
 '42.Shadowhunters: The Mortal Instruments(2016–2019)',
 '43.The End of the F***ing World(2017–2019)',
 '44.House of Cards(2013–2018)',
 '45.Dark(2017–2020)',
 '46.Élite(2018– )',
 '47.Sex Education(2019– )',
 '48.Shameless(2011–2021)',
 '49.New Girl(2011–2018)',
 '50.Agents of S.H.I.E.L.D.(2013–2020)',
 '51.You(2018– )',
 '52.Dexter(2006–2013)',
 '53.Fear the Walking Dead(2015– )',
 '54.Family Guy(1999– )',
 '55.The Blacklist(2013– )',
 '56.Lost(2004–2010)',
 '57.Peaky Blinders(2013–2022)',
 '58.House M.D.(2004–2012)',
 '59.Quantico(2015–2018)',
 '60.Orphan Black(2013–2017)',
 '61.Homeland(2011–2020)',
 '62.Blindspot(2015–2020)',
 '63.Legends of Tomorrow(2016– )',
 "64.The Handmaid's Tale(2017– )",
 '65.Chilling Adventures of Sabrina(2018–2020)',
 '66.The Good Doctor(2017– )',
 '67.Jane the Virgin(2014–2019)',
 '68.Glee(2009–2015)',
 '69.South Park(1997– )',
 '70.Brooklyn Nine-Nine(2013–2021)',
 '71.Under the Dome(2013–2015)',
 '72.The Umbrella Academy(2019– )',
 '73.True Detective(2014–2019)',
 '74.The OA(2016–2019)',
 '75.Desperate Housewives(2004–2012)',
 '76.Better Call Saul(2015–2022)',
 '77.Bates Motel(2013–2017)',
 '78.The Punisher(2017–2019)',
 '79.Atypical(2017–2021)',
 '80.Dynasty(2017– )',
 '81.This Is Us(2016–2022)',
 '82.The Good Place(2016–2020)',
 '83.Iron Fist(2017–2018)',
 '84.The Rain(2018–2020)',
 '85.Mindhunter(2017–2019)',
 '86.Revenge(2011–2015)',
 '87.Luke Cage(2016–2018)',
 '88.Scandal(2012–2018)',
 '89.The Defenders(2017)',
 '90.Big Little Lies(2017–2019)',
 '91.Insatiable(2018–2019)',
 '92.The Mentalist(2008–2015)',
 '93.The Crown(2016– )',
 '94.Chernobyl(2019)',
 '95.iZombie(2015–2019)',
 '96.Reign(2013–2017)',
 '97.A Series of Unfortunate Events(2017–2019)',
 '98.Criminal Minds(2005–2020)',
 '99.Scream(2015–2019)',
 '100.The Haunting of Hill House(2018)']

In [177]:
Year=soup.find_all('span',class_="lister-item-year text-muted unbold")
Year_span=[]
for i in range(0,100):
    Year_span.append(Year[i].get_text().replace("\n",""))
Year_span

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016– )',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019– )',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017– )',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [178]:
Genre=soup.find_all('span',class_="genre")
Genres=[]
for i in range(0,100):
    Genres.append(Genre[i].get_text())
Genres

['\nAction, Adventure, Drama            ',
 '\nDrama, Fantasy, Horror            ',
 '\nDrama, Horror, Thriller            ',
 '\nDrama, Mystery, Thriller            ',
 '\nDrama, Mystery, Sci-Fi            ',
 '\nComedy, Crime, Drama            ',
 '\nCrime, Drama, Mystery            ',
 '\nDrama, Romance            ',
 '\nAction, Adventure, Drama            ',
 '\nAction, Adventure, Crime            ',
 '\nAction, Crime, Drama            ',
 '\nComedy, Romance            ',
 '\nDrama, Sci-Fi, Thriller            ',
 '\nCrime, Drama, Mystery            ',
 '\nAction, Adventure, Drama            ',
 '\nDrama, Mystery, Romance            ',
 '\nDrama, Fantasy, Horror            ',
 '\nDrama, Horror, Thriller            ',
 '\nCrime, Drama, Thriller            ',
 '\nCrime, Drama, Fantasy            ',
 '\nDrama, Fantasy, Horror            ',
 '\nAction, Crime, Drama            ',
 '\nCrime, Drama, Mystery            ',
 '\nAction, Drama, Fantasy            ',
 '\nAnimation, Comedy            ',
 '\nAdventure, Fantasy, Romance            ',
 '\nBiography, Crime, Drama            ',
 '\nAction, Crime, Drama            ',
 '\nComedy, Romance            ',
 '\nComedy, Romance            ',
 '\nComedy, Drama            ',
 '\nCrime, Drama, Thriller            ',
 '\nDrama, Fantasy, Horror            ',
 '\nAction, Adventure, Drama            ',
 '\nDrama, Romance            ',
 '\nDrama, Mystery, Sci-Fi            ',
 '\nAction, Crime, Drama            ',
 '\nDrama, Mystery, Sci-Fi            ',
 '\nAction, Crime, Drama            ',
 '\nComedy, Drama, Romance            ',
 '\nAnimation, Adventure, Comedy            ',
 '\nAction, Drama, Fantasy            ',
 '\nAdventure, Comedy, Crime            ',
 '\nDrama            ',
 '\nCrime, Drama, Mystery            ',
 '\nCrime, Drama, Thriller            ',
 '\nComedy, Drama            ',
 '\nComedy, Drama            ',
 '\nComedy            ',
 '\nAction, Adventure, Drama            ',
 '\nCrime, Drama, Romance            ',
 '\nCrime, Drama, Mystery            ',
 '\nDrama, Horror, Sci-Fi            ',
 '\nAnimation, Comedy            ',
 '\nCrime, Drama, Mystery            ',
 '\nAdventure, Drama, Fantasy            ',
 '\nCrime, Drama            ',
 '\nDrama, Mystery            ',
 '\nCrime, Drama, Mystery            ',
 '\nDrama, Sci-Fi, Thriller            ',
 '\nCrime, Drama, Mystery            ',
 '\nAction, Crime, Drama            ',
 '\nAction, Adventure, Drama            ',
 '\nDrama, Sci-Fi, Thriller            ',
 '\nDrama, Fantasy, Horror            ',
 '\nDrama            ',
 '\nComedy            ',
 '\nComedy, Drama, Music            ',
 '\nAnimation, Comedy            ',
 '\nComedy, Crime            ',
 '\nDrama, Mystery, Sci-Fi            ',
 '\nAction, Adventure, Comedy            ',
 '\nCrime, Drama, Mystery            ',
 '\nDrama, Fantasy, Mystery            ',
 '\nComedy, Drama, Mystery            ',
 '\nCrime, Drama            ',
 '\nDrama, Horror, Mystery            ',
 '\nAction, Crime, Drama            ',
 '\nComedy, Drama            ',
 '\nDrama            ',
 '\nComedy, Drama, Romance            ',
 '\nComedy, Drama, Fantasy            ',
 '\nAction, Adventure, Crime            ',
 '\nDrama, Sci-Fi, Thriller            ',
 '\nCrime, Drama, Thriller            ',
 '\nDrama, Mystery, Thriller            ',
 '\nAction, Crime, Drama            ',
 '\nDrama, Thriller            ',
 '\nAction, Adventure, Crime            ',
 '\nCrime, Drama, Mystery            ',
 '\nComedy, Drama, Thriller            ',
 '\nCrime, Drama, Mystery            ',
 '\nBiography, Drama, History            ',
 '\nDrama, History, Thriller            ',
 '\nComedy, Crime, Drama            ',
 '\nDrama, Fantasy            ',
 '\nAdventure, Comedy, Drama            ',
 '\nCrime, Drama, Mystery            ',
 '\nComedy, Crime, Drama            ',
 '\nDrama, Horror, Mystery            ']

In [179]:
Run_time=soup.find_all('span',class_="runtime")
time=[]
for i in range(0,100):
    time.append(Run_time[i].get_text())
time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [180]:
ratings=soup.find_all('span',class_='ipl-rating-star__rating')
series_rating=[]
for i in range(0,100):
    series_rating.append(ratings[i].get_text().replace("\n",""))
series_rating

['9.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.7',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '8.2',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '7.5',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3',
 'Rate',
 '4',
 'Rate',
 '5',
 'Rate',
 '6',
 'Rate',
 '7',
 'Rate',
 '8',
 'Rate',
 '9',
 'Rate',
 '10',
 'Rate',
 '7.6',
 '0',
 'Rate',
 '1',
 'Rate',
 '2',
 'Rate',
 '3']

In [181]:
print(len(series_names),len(Year_span),len(Genres),len(time),len(series_rating))

100 100 100 100 100

In [183]:
df=pd.DataFrame({'Names':series_names,'Year':Year_span,'Genre':Genres,'Time':time,'Rating':series_rating})
df

,Names,Year,Genre,Time,Rating
0,1.Game of Thrones(2011–2019),(2011–2019),"\nAction, Adventure, Drama",57 min,9.2
1,2.Stranger Things(2016– ),(2016– ),"\nDrama, Fantasy, Horror",51 min,0
2,3.The Walking Dead(2010–2022),(2010–2022),"\nDrama, Horror, Thriller",44 min,Rate
3,4.13 Reasons Why(2017–2020),(2017–2020),"\nDrama, Mystery, Thriller",60 min,1
4,5.The 100(2014–2020),(2014–2020),"\nDrama, Mystery, Sci-Fi",43 min,Rate
...,...,...,...,...,...
95,96.Reign(2013–2017),(2013–2017),"\nDrama, Fantasy",42 min,1
96,97.A Series of Unfortunate Events(2017–2019),(2017–2019),"\nAdventure, Comedy, Drama",50 min,Rate
97,98.Criminal Minds(2005–2020),(2005–2020),"\nCrime, Drama, Mystery",42 min,2
98,99.Scream(2015–2019),(2015–2019),"\nComedy, Crime, Drama",45 min,Rate
99,100.The Haunting of Hill House(2018),(2018),"\nDrama, Horror, Mystery",572 min,3

Question-1

In [184]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [185]:
page

In [186]:
soup = BeautifulSoup(page.content)

In [187]:
video_name=[]

for i in soup.find_all('a',class_="mw-redirect"):
    video_name.append(i.text)
video_name

['music videos',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Baby Shark Dance',
 'List of most-viewed online trailers in the first 24 hours',
 'regional restrictions',
 'Wired',
 'CNet',
 'Virtual',
 'Pakistani music videos',
 'Criticism',
 'Censorship',
 'music videos']

In [189]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import warnings
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

In [190]:
s=Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=s)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_mac64.zip
Driver has been saved in cache [/Users/apple/.wdm/drivers/chromedriver/mac64/96.0.4664.45]

Question-2

In [ ]:
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(6)

# entering 'international fixtures' from bcci.tv

In [200]:
page=requests.get('https://www.bcci.tv/international/fixtures')

In [201]:
page

In [204]:
soup=soup = BeautifulSoup(page.content)

In [203]:
match_title=[]
for i in soup.find_all('span',class_="ng-binding"):
    match_title.append(i.text)
match_title

[]

In [205]:
date=[]
for i in soup.find_all('h5',class_="ng-binding"):
    date.append(i.text)
date

[]

In [206]:
time=[]
for i in soup.find_all('h5',class_="text-right ng-binding"):
    time.append(i.text)
time

[]