# Beautiful soup

In [154]:
#firstly install libararies

In [155]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in ./opt/anaconda3/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in ./opt/anaconda3/lib/python3.8/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in ./opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in ./opt/anaconda3/lib/python3.8/site-packages (from requests) (4.0.0)

In [156]:
#import required libraries

In [157]:
from bs4 import BeautifulSoup
import requests

Question 1

In [158]:
#to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [159]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [160]:
page

In [161]:
soup = BeautifulSoup(page.content)

In [162]:
titles =[]

for i in soup.find_all('span',class_="mw-headline"):
    titles.append(i.text)


titles

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

Question 2

In [163]:
#To display IMDB's top rated 100 movies data

In [164]:
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [165]:
page

In [166]:
soup = BeautifulSoup(page.content)

In [167]:
name=soup.find_all('h3',class_='lister-item-header')
movie_names=[]
for i in range(0,50):
    movie_names.append(name[i].get_text().replace("\n",""))

movie_names

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Godfather: Part II(1974)',
 '5.12 Angry Men(1957)',
 '6.The Lord of the Rings: The Return of the King(2003)',
 '7.Pulp Fiction(1994)',
 "8.Schindler's List(1993)",
 '9.Inception(2010)',
 '10.Fight Club(1999)',
 '11.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '12.Forrest Gump(1994)',
 '13.Il buono, il brutto, il cattivo(1966)',
 '14.The Lord of the Rings: The Two Towers(2002)',
 '15.The Matrix(1999)',
 '16.Goodfellas(1990)',
 '17.Star Wars: Episode V - The Empire Strikes Back(1980)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Gisaengchung(2019)',
 '20.Interstellar(2014)',
 '21.Cidade de Deus(2002)',
 '22.Sen to Chihiro no kamikakushi(2001)',
 '23.Saving Private Ryan(1998)',
 '24.The Green Mile(1999)',
 '25.La vita è bella(1997)',
 '26.Se7en(1995)',
 '27.The Silence of the Lambs(1991)',
 '28.Star Wars(1977)',
 '29.Seppuku(1962)',
 '30.Shichinin no samurai(1954)',
 "31.It's a Wonderful Life(1946)",
 '32.Whiplash(2014)',
 '33.The Intouchables(2011)',
 '34.The Prestige(2006)',
 '35.The Departed(2006)',
 '36.The Pianist(2002)',
 '37.Gladiator(2000)',
 '38.American History X(1998)',
 '39.The Usual Suspects(1995)',
 '40.Léon(1994)',
 '41.The Lion King(1994)',
 '42.Terminator 2: Judgment Day(1991)',
 '43.Nuovo Cinema Paradiso(1988)',
 '44.Hotaru no haka(1988)',
 '45.Back to the Future(1985)',
 '46.Once Upon a Time in the West(1968)',
 '47.Psycho(1960)',
 '48.Rear Window(1954)',
 '49.Casablanca(1942)',
 '50.Modern Times(1936)']

In [168]:
#IMDB rating

In [169]:
rating=soup.find_all('span',class_='global-sprite rating-star imdb-rating')

movie_rating=[]
for i in range(0,50):
    movie_rating.append(rating[i].get_text())
    
ratings

[<div class="inline-block ratings-imdb-rating" data-value="9.3" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.3</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="9.2" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.2</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="9" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.0</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="9" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.0</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="9" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.0</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.9" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.9</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.9" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.9</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.9" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.9</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.8" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.8</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.8" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.8</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.8" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.8</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.8" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.8</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.8" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.8</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.7" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.7</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.7" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.7</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.7" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.7</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.7" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.7</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.7" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.7</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.6" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.6</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="8.5" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>8.5</strong>
 </div>]

In [170]:
#date of release

In [171]:
date=[]

for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    date.append(i.text)
date

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(2003)',
 '(1994)',
 '(1993)',
 '(2010)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(2002)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2019)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1991)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)',
 '(1936)']

In [172]:
#making data frame
import pandas as pd
df=pd.DataFrame({'Names':movie_names,'Ratings':ratings,'dates':date})
df

,Names,Ratings,dates
0,1.The Shawshank Redemption(1994),"[\n, [], \n, [9.3], \n]",(1994)
1,2.The Godfather(1972),"[\n, [], \n, [9.2], \n]",(1972)
2,3.The Dark Knight(2008),"[\n, [], \n, [9.0], \n]",(2008)
3,4.The Godfather: Part II(1974),"[\n, [], \n, [9.0], \n]",(1974)
4,5.12 Angry Men(1957),"[\n, [], \n, [9.0], \n]",(1957)
5,6.The Lord of the Rings: The Return of the Kin...,"[\n, [], \n, [8.9], \n]",(2003)
6,7.Pulp Fiction(1994),"[\n, [], \n, [8.9], \n]",(1994)
7,8.Schindler's List(1993),"[\n, [], \n, [8.9], \n]",(1993)
8,9.Inception(2010),"[\n, [], \n, [8.8], \n]",(2010)
9,10.Fight Club(1999),"[\n, [], \n, [8.8], \n]",(1999)
10,11.The Lord of the Rings: The Fellowship of th...,"[\n, [], \n, [8.8], \n]",(2001)
11,12.Forrest Gump(1994),"[\n, [], \n, [8.8], \n]",(1994)
12,"13.Il buono, il brutto, il cattivo(1966)","[\n, [], \n, [8.8], \n]",(1966)
13,14.The Lord of the Rings: The Two Towers(2002),"[\n, [], \n, [8.7], \n]",(2002)
14,15.The Matrix(1999),"[\n, [], \n, [8.7], \n]",(1999)
15,16.Goodfellas(1990),"[\n, [], \n, [8.7], \n]",(1990)
16,17.Star Wars: Episode V - The Empire Strikes B...,"[\n, [], \n, [8.7], \n]",(1980)
17,18.One Flew Over the Cuckoo's Nest(1975),"[\n, [], \n, [8.7], \n]",(1975)
18,19.Gisaengchung(2019),"[\n, [], \n, [8.6], \n]",(2019)
19,20.Interstellar(2014),"[\n, [], \n, [8.6], \n]",(2014)
20,21.Cidade de Deus(2002),"[\n, [], \n, [8.6], \n]",(2002)
21,22.Sen to Chihiro no kamikakushi(2001),"[\n, [], \n, [8.6], \n]",(2001)
22,23.Saving Private Ryan(1998),"[\n, [], \n, [8.6], \n]",(1998)
23,24.The Green Mile(1999),"[\n, [], \n, [8.6], \n]",(1999)
24,25.La vita è bella(1997),"[\n, [], \n, [8.6], \n]",(1997)
25,26.Se7en(1995),"[\n, [], \n, [8.6], \n]",(1995)
26,27.The Silence of the Lambs(1991),"[\n, [], \n, [8.6], \n]",(1991)
27,28.Star Wars(1977),"[\n, [], \n, [8.6], \n]",(1977)
28,29.Seppuku(1962),"[\n, [], \n, [8.6], \n]",(1962)
29,30.Shichinin no samurai(1954),"[\n, [], \n, [8.6], \n]",(1954)
30,31.It's a Wonderful Life(1946),"[\n, [], \n, [8.6], \n]",(1946)
31,32.Whiplash(2014),"[\n, [], \n, [8.5], \n]",(2014)
32,33.The Intouchables(2011),"[\n, [], \n, [8.5], \n]",(2011)
33,34.The Prestige(2006),"[\n, [], \n, [8.5], \n]",(2006)
34,35.The Departed(2006),"[\n, [], \n, [8.5], \n]",(2006)
35,36.The Pianist(2002),"[\n, [], \n, [8.5], \n]",(2002)
36,37.Gladiator(2000),"[\n, [], \n, [8.5], \n]",(2000)
37,38.American History X(1998),"[\n, [], \n, [8.5], \n]",(1998)
38,39.The Usual Suspects(1995),"[\n, [], \n, [8.5], \n]",(1995)
39,40.Léon(1994),"[\n, [], \n, [8.5], \n]",(1994)
40,41.The Lion King(1994),"[\n, [], \n, [8.5], \n]",(1994)
41,42.Terminator 2: Judgment Day(1991),"[\n, [], \n, [8.5], \n]",(1991)
42,43.Nuovo Cinema Paradiso(1988),"[\n, [], \n, [8.5], \n]",(1988)
43,44.Hotaru no haka(1988),"[\n, [], \n, [8.5], \n]",(1988)
44,45.Back to the Future(1985),"[\n, [], \n, [8.5], \n]",(1985)
45,46.Once Upon a Time in the West(1968),"[\n, [], \n, [8.5], \n]",(1968)
46,47.Psycho(1960),"[\n, [], \n, [8.5], \n]",(1960)
47,48.Rear Window(1954),"[\n, [], \n, [8.5], \n]",(1954)
48,49.Casablanca(1942),"[\n, [], \n, [8.5], \n]",(1942)
49,50.Modern Times(1936),"[\n, [], \n, [8.5], \n]",(1936)

Question 3

In [178]:
#to display IMDB's top rated 100 indian movies data

In [179]:
#names

In [180]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [181]:
page

In [177]:
soup =BeautifulSoup(page.content)

In [184]:
names=soup.find_all('td',class_='titleColumn')
movie_names=[]
for i in range(0,100):
    movie_names.append(names[i].get_text().replace("\n",""))
movie_names

['      1.      Sardar Udham(2021)',
 '      2.      Nayakan(1987)',
 '      3.      Anbe Sivam(2003)',
 '      4.      Pariyerum Perumal(2018)',
 '      5.      C/o Kancharapalem(2018)',
 '      6.      Manichitrathazhu(1993)',
 '      7.      Golmaal(1979)',
 '      8.      Kireedam(1989)',
 '      9.      Apur Sansar(1959)',
 '      10.      Natsamrat(2016)',
 '      11.      96(2018)',
 '      12.      Thevar Magan(1992)',
 '      13.      Kumbalangi Nights(2019)',
 '      14.      Black Friday(2004)',
 '      15.      Pather Panchali(1955)',
 '      16.      #Home(2021)',
 '      17.      Soorarai Pottru(2020)',
 '      18.      Visaaranai(2015)',
 '      19.      3 Idiots(2009)',
 '      20.      Jersey(2019)',
 '      21.      Taare Zameen Par(2007)',
 '      22.      Asuran(2019)',
 '      23.      Thalapathi(1991)',
 '      24.      Drishyam 2(2021)',
 '      25.      Kaithi(2019)',
 '      26.      Sarpatta Parambarai(2021)',
 '      27.      Dangal(2016)',
 '      28.      Devasuram(1993)',
 '      29.      Aparajito(1956)',
 '      30.      Jaane Bhi Do Yaaro(1983)',
 '      31.      Peranbu(2018)',
 '      32.      Pyaasa(1957)',
 '      33.      Vada Chennai(2018)',
 '      34.      Ratsasan(2018)',
 '      35.      Guide(1965)',
 '      36.      Thani Oruvan(2015)',
 '      37.      Kannathil Muthamittal(2002)',
 '      38.      Spadikam(1995)',
 '      39.      Iruvar(1997)',
 '      40.      Agent Sai Srinivasa Athreya(2019)',
 '      41.      Chupke Chupke(1975)',
 '      42.      Super Deluxe(2019)',
 '      43.      Mahanati(2018)',
 '      44.      Aruvi(2016)',
 '      45.      Khosla Ka Ghosla!(2006)',
 '      46.      Pudhu Pettai(2006)',
 '      47.      Drishyam(2013)',
 '      48.      Tumbbad(2018)',
 '      49.      Anniyan(2005)',
 '      50.      Premam(2015)',
 '      51.      Mudhalvan(1999)',
 '      52.      Kaakkaa Muttai(2014)',
 '      53.      Bangalore Days(2014)',
 '      54.      Vikram Vedha(2017)',
 '      55.      Satya(1998)',
 '      56.      Angoor(1982)',
 '      57.      Papanasam(2015)',
 '      58.      Soodhu Kavvum(2013)',
 '      59.      Andhadhun(2018)',
 '      60.      Dhuruvangal Pathinaaru(2016)',
 '      61.      Shahid(2012)',
 '      62.      Mandela(2021)',
 '      63.      Pithamagan(2003)',
 '      64.      Jigarthanda(2014)',
 '      65.      Anand(1971)',
 '      66.      Gangs of Wasseypur(2012)',
 '      67.      Paan Singh Tomar(2012)',
 '      68.      Sairat(2016)',
 '      69.      Bhaag Milkha Bhaag(2013)',
 '      70.      Maheshinte Prathikaaram(2016)',
 '      71.      Hera Pheri(2000)',
 '      72.      Sholay(1975)',
 '      73.      Swades: We, the People(2004)',
 '      74.      Chak De! India(2007)',
 '      75.      Talvar(2015)',
 '      76.      Ustad Hotel(2012)',
 '      77.      Mughal-E-Azam(1960)',
 '      78.      Black(2005)',
 '      79.      Zindagi Na Milegi Dobara(2011)',
 '      80.      Jo Jeeta Wohi Sikandar(1992)',
 '      81.      Chhichhore(2019)',
 '      82.      Theeran Adhigaaram Ondru(2017)',
 '      83.      Nil Battey Sannata(2015)',
 '      84.      Article 15(2019)',
 '      85.      Charulata(1964)',
 '      86.      Drishyam(2015)',
 '      87.      Udaan(2010)',
 '      88.      Baasha(1995)',
 '      89.      A Wednesday(2008)',
 '      90.      Alai Payuthey(2000)',
 '      91.      Masaan(2015)',
 '      92.      Munna Bhai M.B.B.S.(2003)',
 '      93.      Virumandi(2004)',
 '      94.      Sarfarosh(1999)',
 '      95.      Queen(2013)',
 '      96.      Roja(1992)',
 '      97.      Dil Chahta Hai(2001)',
 '      98.      Rang De Basanti(2006)',
 '      99.      OMG: Oh My God!(2012)',
 '      100.      Uri: The Surgical Strike(2019)']

In [25]:
#Imdb rating

In [186]:
ratings=soup.find_all('td',class_='ratingColumn imdbRating')
movie_rating=[]
for i in range(0,100):
    movie_rating.append(ratings[i].get_text().replace("\n",""))
movie_rating

['8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [27]:
#year of release

In [187]:
year=soup.find_all('span',class_="secondaryInfo")
movie_year=[]
for i in range(0,100):
    movie_year.append(year[i].get_text())
movie_year

['(2021)',
 '(1987)',
 '(2003)',
 '(2018)',
 '(2018)',
 '(1993)',
 '(1979)',
 '(1989)',
 '(1959)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2019)',
 '(2004)',
 '(1955)',
 '(2021)',
 '(2020)',
 '(2015)',
 '(2009)',
 '(2019)',
 '(2007)',
 '(2019)',
 '(1991)',
 '(2021)',
 '(2019)',
 '(2021)',
 '(2016)',
 '(1993)',
 '(1956)',
 '(1983)',
 '(2018)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1995)',
 '(1997)',
 '(2019)',
 '(1975)',
 '(2019)',
 '(2018)',
 '(2016)',
 '(2006)',
 '(2006)',
 '(2013)',
 '(2018)',
 '(2005)',
 '(2015)',
 '(1999)',
 '(2014)',
 '(2014)',
 '(2017)',
 '(1998)',
 '(1982)',
 '(2015)',
 '(2013)',
 '(2018)',
 '(2016)',
 '(2012)',
 '(2021)',
 '(2003)',
 '(2014)',
 '(1971)',
 '(2012)',
 '(2012)',
 '(2016)',
 '(2013)',
 '(2016)',
 '(2000)',
 '(1975)',
 '(2004)',
 '(2007)',
 '(2015)',
 '(2012)',
 '(1960)',
 '(2005)',
 '(2011)',
 '(1992)',
 '(2019)',
 '(2017)',
 '(2015)',
 '(2019)',
 '(1964)',
 '(2015)',
 '(2010)',
 '(1995)',
 '(2008)',
 '(2000)',
 '(2015)',
 '(2003)',
 '(2004)',
 '(1999)',
 '(2013)',
 '(1992)',
 '(2001)',
 '(2006)',
 '(2012)',
 '(2019)']

In [190]:
print(len(movie_names),len(movie_rating),len(movie_year))

100 100 100

In [191]:
df=pd.DataFrame({'Names':movie_names,'Ratings':movie_rating,'Year':movie_year})
df

                                             Names Ratings    Year
0                       1.      Sardar Udham(2021)     8.6  (2021)
1                            2.      Nayakan(1987)     8.5  (1987)
2                         3.      Anbe Sivam(2003)     8.5  (2003)
3                  4.      Pariyerum Perumal(2018)     8.5  (2018)
4                  5.      C/o Kancharapalem(2018)     8.5  (2018)
..                                             ...     ...     ...
95                             96.      Roja(1992)     8.1  (1992)
96                   97.      Dil Chahta Hai(2001)     8.1  (2001)
97                  98.      Rang De Basanti(2006)     8.1  (2006)
98                  99.      OMG: Oh My God!(2012)     8.1  (2012)
99        100.      Uri: The Surgical Strike(2019)     8.1  (2019)

[100 rows x 3 columns]

Question 4

In [192]:
#to obtain indian cricket ratings

In [193]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [194]:
page

In [195]:
soup =BeautifulSoup(page.content)

In [196]:
#top 10 ODI teams in mens cricket

In [36]:
#top 10 odi_teams

In [37]:
team=soup.find_all('span',class_='u-hide-phablet')
odi_team= []
for i in range(0,10):
    odi_team.append(team[i].get_text())
odi_team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [38]:
#top 10 odi_matches

In [39]:
matches=soup.find_all('td',class_='table-body__cell u-center-text')
odi_matches=[]
for i in range(0,20,2):
    odi_matches.append(matches[i].get_text().split('|'))
    
odi_matches

[['32'], ['28'], ['32'], ['25'], ['27'], ['30'], ['30'], ['32'], ['17'], ['7']]

In [40]:
#top 10 odi_teams points

In [41]:
points=soup.find_all('td',class_='table-body__cell u-center-text')
odi_points=[]
for i in range(1,20,2):
    odi_points.append(points[i].get_text().split('|'))
odi_points

[['3,793'],
 ['3,244'],
 ['3,624'],
 ['2,459'],
 ['2,524'],
 ['2,740'],
 ['2,523'],
 ['2,657'],
 ['1,054'],
 ['336']]

In [42]:
#top ten odi ratings

In [43]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
odi_ratings=[]
for i in range(0,10):
    odi_ratings.append(rating[i].get_text())
    
odi_ratings

['119', '116', '113', '98', '93', '91', '84', '83', '62', '48']

In [44]:
df=pd.DataFrame({'ODI_teams':odi_team,'ODI_matches':odi_matches,'ODI_points':odi_points,'OdI_ratings':odi_ratings})

In [45]:
df

      ODI_teams ODI_matches ODI_points OdI_ratings
0   New Zealand        [32]    [3,793]         119
1       England        [28]    [3,244]         116
2     Australia        [32]    [3,624]         113
3         India        [25]    [2,459]          98
4  South Africa        [27]    [2,524]          93
5      Pakistan        [30]    [2,740]          91
6    Bangladesh        [30]    [2,523]          84
7   West Indies        [32]    [2,657]          83
8     Sri Lanka        [17]    [1,054]          62
9   Afghanistan         [7]      [336]          48

In [46]:
#top 10 ODI batsmen

In [47]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [48]:
page

In [49]:
soup =BeautifulSoup(page.content)

In [50]:
names=soup.find_all('td',class_='table-body__cell name')
batsmen_names=[]
for i in range(0,10):
    batsmen_names.append(names[i].get_text().replace("\n",""))
    
batsmen_names

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock',
 'Josh Hazlewood']

In [51]:
team=soup.find_all('span',class_='table-body__logo-text')
batsmen_team=[]
for i in range(0,10):
    batsmen_team.append(team[i].get_text())
    
batsmen_team

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA', 'AUS']

In [52]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
batsmen_rating=[]
for i in range(0,10):
    batsmen_rating.append(rating[i].get_text())
    
batsmen_rating

['844', '813', '801', '779', '775', '762', '758', '754', '747', '709']

In [53]:
df=pd.DataFrame({'Batsmen_names':batsmen_names,'Batsmen_team':batsmen_team,'Batsmen_ratings':batsmen_rating})
df

     Batsmen_names Batsmen_team Batsmen_ratings
0      Virat Kohli          IND             844
1     Rohit Sharma          IND             813
2      Ross Taylor           NZ             801
3      Aaron Finch          AUS             779
4   Jonny Bairstow          ENG             775
5     David Warner          AUS             762
6        Shai Hope           WI             758
7  Kane Williamson           NZ             754
8  Quinton de Kock           SA             747
9   Josh Hazlewood          AUS             709

In [54]:
#top 10 ODI bowlers

In [55]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [56]:
page

In [57]:
soup =BeautifulSoup(page.content)

In [58]:
names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
bowler_names=[]
for i in range(0,10):
    bowler_names.append(names[i].get_text().replace("\n",""))

bowler_names

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mustafizur Rahman']

In [59]:
team=soup.find_all('span',class_='table-body__logo-text')
bowler_team=[]
for i in range(0,10):
    bowler_team.append(team[i].get_text())

bowler_team

['AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA', 'BAN']

In [60]:
rating=soup.find_all('td',class_='table-body__cell rating')
bowler_rating=[]
for i in range(0,10):
                     bowler_rating.append(rating[i].get_text())
bowler_rating

['709', '708', '700', '692', '691', '679', '652', '650', '646', '640']

In [61]:
df=pd.DataFrame({'Bowler_names':bowler_names,'Bowler_team':bowler_team,'Bowler_ratings':bowler_rating})
df

        Bowler_names Bowler_team Bowler_ratings
0     Josh Hazlewood         AUS            709
1   Mujeeb Ur Rahman         AFG            708
2       Chris Woakes         ENG            700
3       Mehedi Hasan         BAN            692
4         Matt Henry          NZ            691
5     Jasprit Bumrah         IND            679
6     Mitchell Starc         AUS            652
7    Shakib Al Hasan         BAN            650
8      Kagiso Rabada          SA            646
9  Mustafizur Rahman         BAN            640

Question 5

In [62]:
#to obtain data from womens indian cricket team

In [63]:
#to obtain top 10 teams in womens

In [64]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [65]:
page

In [66]:
soup=BeautifulSoup(page.content)

In [67]:
#teams
teams=soup.find_all('span',class_='u-hide-phablet')
womens_team=[]
for i in range(0,9):
    womens_team.append(teams[i].get_text())
womens_team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka']

In [68]:
#matches
matches=soup.find_all('td',class_='table-body__cell u-center-text')
womens_team_matches=[]
for i in range(0,18,2):
    womens_team_matches.append(matches[i].get_text())

womens_team_matches

['25', '29', '26', '26', '22', '20', '5', '11', '2']

In [69]:
#points
points=soup.find_all('td',class_='table-body__cell u-center-text')
womens_team_points=[]
for i in range(1,18,2):
    womens_team_points.append(points[i].get_text())
    
womens_team_points

['2,983', '3,390', '2,934', '2,392', '1,872', '1,496', '306', '519', '25']

In [70]:
#ratings
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
team_rating=[]
for i in range(0,9):
    team_rating.append(rating[i].get_text())

team_rating

['119', '117', '113', '92', '85', '75', '61', '47', '13']

In [71]:
print(len(womens_team),len(womens_team_matches),len(womens_team_points),len(team_rating))

9 9 9 9

In [72]:
df=pd.DataFrame({'Team':womens_team,'Matches':womens_team_matches,'Points':womens_team_points,'Ratings':team_rating})
df

           Team Matches Points Ratings
0     Australia      25  2,983     119
1       England      29  3,390     117
2  South Africa      26  2,934     113
3         India      26  2,392      92
4   New Zealand      22  1,872      85
5   West Indies      20  1,496      75
6      Pakistan       5    306      61
7    Bangladesh      11    519      47
8     Sri Lanka       2     25      13

was not able to scrap data for ten teams as data for one of the team was missing hence done it for nine teams

In [73]:
#top 10 odi players in womens cricket team

In [74]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [75]:
page

In [76]:
soup =BeautifulSoup(page.content)

In [77]:
names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
womens_names=[]
for i in range(0,10):
    womens_names.append(names[i].get_text().replace("\n",""))
                       
womens_names

['Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Heather Knight',
 'Laura Wolvaardt',
 'Rachael Haynes']

In [78]:
team=soup.find_all('span',class_='table-body__logo-text')
womens_team=[]
for i in range(0,10):
    womens_team.append(team[i].get_text())

womens_team

['AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'ENG', 'SA', 'AUS']

In [79]:
rating=soup.find_all('td',class_='table-body__cell rating')
womens_team_rating=[]
for i in range(0,10):
    womens_team_rating.append(rating[i].get_text())

womens_team_rating

['750', '738', '728', '717', '710', '699', '690', '674', '672', '668']

In [80]:
df=pd.DataFrame({'Names':womens_names,'Team':womens_team,'Rating':womens_team_rating})
df

               Names Team Rating
0       Alyssa Healy  AUS    750
1        Mithali Raj  IND    738
2     Tammy Beaumont  ENG    728
3  Amy Satterthwaite   NZ    717
4    Smriti Mandhana  IND    710
5        Meg Lanning  AUS    699
6        Beth Mooney  AUS    690
7     Heather Knight  ENG    674
8    Laura Wolvaardt   SA    672
9     Rachael Haynes  AUS    668

In [81]:
#to obtain top 10 women odi all rounders

In [82]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [83]:
page

In [84]:
soup=BeautifulSoup(page.content)

In [85]:
names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
women_odi_runner_names=[]
for i in range(0,10):
    women_odi_runner_names.append(names[i].get_text().replace("\n",""))


women_odi_runner_names

['Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Katherine Brunt',
 'Jhulan Goswami',
 'Sophie Devine']

In [86]:
team=soup.find_all('span',class_='table-body__logo-text')
women_odi_runner_team=[]
for i in range(0,10):
    women_odi_runner_team.append(team[i].get_text())
    
women_odi_runner_team

['ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'AUS', 'ENG', 'IND', 'NZ']

In [87]:
rating=soup.find_all('td',class_='table-body__cell rating')
women_odi_runner_rating=[]
for i in range(0,10):
    women_odi_runner_rating.append(rating[i].get_text())
    

women_odi_runner_rating

['372', '365', '322', '299', '275', '274', '272', '272', '251', '248']

In [88]:
df=pd.DataFrame({'Names':women_odi_runner_names,'Team':women_odi_runner_team,'Rating':women_odi_runner_rating})
df

              Names Team Rating
0    Natalie Sciver  ENG    372
1      Ellyse Perry  AUS    365
2   Stafanie Taylor   WI    322
3     Deepti Sharma  IND    299
4  Ashleigh Gardner  AUS    275
5  Dane van Niekerk   SA    274
6     Jess Jonassen  AUS    272
7   Katherine Brunt  ENG    272
8    Jhulan Goswami  IND    251
9     Sophie Devine   NZ    248

Question 6

In [89]:
#to scrap mobiles under 20,000 from amazon.in

In [90]:
page = requests.get('https://www.amazon.in/s?k=mobile+phonesunder+20000&ref=nb_sb_noss_2')

In [91]:
page

not able to scrap data from amazon since response is 503

Question 7

In [209]:
#to scrap data from no broker.com

In [210]:
page=requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHk')

In [211]:
page

In [212]:
soup=BeautifulSoup(page.content)

In [213]:
#House title

In [214]:
title=[]
for i in soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY'):
    title.append(i.text)
title

[]

In [215]:
#location area
location_area=[]
for i in soup.find_all('div',class_='nb__35Ol7'):
    location_area.append(i.text)
    
location_area

[]

In [99]:
#emi
emi=[]
for i in soup.find_all('div',class_='heading-6 nb__2tto'):
    emi.append(i.text)
    
emi

[]

In [100]:
#price

Question 8

In [272]:
#to scrap data from dineout.com

In [273]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [274]:
page

In [275]:
soup=BeautifulSoup(page.content)

In [276]:
#restraunt name

In [277]:
restraunt_name=soup.find('div',class_='restnt-info cursor')
restraunt_name

<div class="restnt-info cursor" data-gatype="RestaurantNameClick"><a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a><div class="restnt-loc ellipsis" data-w-onclick="stopClickPropagation|w1-restarant"><a data-name="Connaught Place" data-type="LocalityClick" href="/delhi-restaurants/central-delhi/connaught-place">Connaught Place</a>, <a data-name="Central Delhi" data-type="AreaClick" href="/delhi-restaurants/central-delhi">Central Delhi</a></div></div>

In [278]:
restraunt_name.text

'Castle BarbequeConnaught Place, Central Delhi'

In [279]:
#cusine

In [280]:
cusine=soup.find('span',class_='double-line-ellipsis')
cusine

<span class="double-line-ellipsis"><span>₹ 2,000 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/chinese-cuisine">Chinese</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span>

In [281]:
cusine.text.split('|')[1]

' Chinese, North Indian'

In [282]:
#location

In [283]:
location=soup.find('div',class_='restnt-loc ellipsis')
location

<div class="restnt-loc ellipsis" data-w-onclick="stopClickPropagation|w1-restarant"><a data-name="Connaught Place" data-type="LocalityClick" href="/delhi-restaurants/central-delhi/connaught-place">Connaught Place</a>, <a data-name="Central Delhi" data-type="AreaClick" href="/delhi-restaurants/central-delhi">Central Delhi</a></div>

In [284]:
location.text

'Connaught Place, Central Delhi'

In [285]:
#ratings

In [286]:
ratings=soup.find('div',class_='restnt-rating rating-4')
ratings

In [287]:
ratings.text

'3.9'

In [288]:
#image url

In [290]:
images=[]
for i in soup.find_all('img',class_='no-img'):
    images.append(i['data-src'])
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

Question 9

In [134]:
#to scrap data regarding the weather

In [145]:
page =requests.get('https://en.tutiempo.net/delhi.html?data=last-24-hours')

In [146]:
page

In [147]:
soup=BeautifulSoup(page.content)

In [148]:
#hour

In [149]:
hour=[]
for i in soup.find_all('td',class_='t Temp')[0,24]:
    if i.previous_sibling.previous_sibling is not None:
        hour.append(i.previous_sibling.previous_sibling.text)
    else:
        hour.append(' ')

TypeError: list indices must be integers or slices, not tuple

In [126]:
#temperature

In [151]:
temperature=[]
for i in soup.find_all('td',class_='t Temp'):
    temperature.append(i.text)
temperature

['27°C',
 '28°C',
 '28°C',
 '28°C',
 '28°C',
 '28°C',
 '27°C',
 '27°C',
 '26°C',
 '25°C',
 '23°C',
 '23°C',
 '22°C',
 '22°C',
 '21°C',
 '20°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '19°C',
 '20°C',
 '20°C',
 '20°C',
 '21°C',
 '21°C',
 '21°C',
 '22°C',
 '23°C',
 '23°C',
 '24°C',
 '25°C',
 '26°C',
 '26°C',
 '26°C',
 '27°C',
 '27°C',
 '27°C']

In [152]:
print(len(temperature))

48

In [153]:
#wind

In [129]:
wind=[]
for i in soup.find_all('td',class_='wind'):
    wind.append(i.text)
wind

['Calm',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 '7 km/h',
 '11 km/h',
 '13 km/h',
 '13 km/h',
 '15 km/h',
 '15 km/h',
 '15 km/h',
 '15 km/h',
 '17 km/h',
 '15 km/h',
 '17 km/h',
 '13 km/h',
 '11 km/h',
 '11 km/h',
 '9 km/h',
 '7 km/h',
 '7 km/h',
 '7 km/h',
 '7 km/h',
 '6 km/h',
 '6 km/h',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 '6 km/h',
 'Calm',
 '9 km/h',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm']

In [130]:
#weather condition

In [131]:
weather_condition=[]
for i in soup.find_all('span',class_='thhip ico i0530 u3022'):
    weather_condition.append(i.text)
weather_condition

[]

In [132]:
#humidity

In [133]:
humidity=[]
for i in soup.find_all('td',class_='hr'):
    humidity.append(i.text)
humidity

['54%',
 '48%',
 '45%',
 '42%',
 '37%',
 '37%',
 '37%',
 '37%',
 '35%',
 '37%',
 '40%',
 '48%',
 '48%',
 '48%',
 '51%',
 '51%',
 '50%',
 '50%',
 '53%',
 '57%',
 '64%',
 '68%',
 '78%',
 '77%',
 '88%',
 '88%',
 '83%',
 '83%',
 '83%',
 '88%',
 '83%',
 '83%',
 '83%',
 '78%',
 '78%',
 '78%',
 '78%',
 '73%',
 '73%',
 '69%',
 '73%',
 '69%',
 '64%',
 '64%',
 '61%',
 '57%',
 '54%',
 '57%',
 '61%',
 '61%']

In [134]:
#pressure

In [135]:
pressure=[]
for i in soup.find_all('td',class_='prob'):
    pressure.append(i.text)
pressure

['1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1015 hPa',
 '1016 hPa',
 '1016 hPa',
 '1017 hPa',
 '1018 hPa',
 '1018 hPa',
 '1019 hPa',
 '1019 hPa',
 '1020 hPa',
 '1020 hPa',
 '1020 hPa',
 '1019 hPa',
 '1019 hPa',
 '1019 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1017 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1018 hPa',
 '1017 hPa',
 '1017 hPa']

Question 10

In [115]:
#to scrap data regarding monuments

In [116]:
page=requests.get('https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/')

In [117]:
page

In [118]:
soup=BeautifulSoup(page.content)

In [119]:
#monument name

In [120]:
monument_name=[]
data=soup.find_all('div',class_='blog--single__content column--3-4 u-spacing-third')
temp=[]
for i in data:
    for j in i.find_all('p'):
        t=j.text.replace('\n','')
        temp.append(t)

In [121]:
name=[]
desc=[]
for i in range( 1,30,3):
    name.append(temp[i])
for i in range(2,30,3):
    desc.append(temp[i])

In [122]:
name

['Taj Mahal, Agra',
 'Golden Temple (Harmandir Sahib), Amritsar ',
 'Meenakshi Temple, Madurai',
 'Mysore Palace, Mysore',
 'Gateway of India, Mumbai',
 'Red Fort, New Delhi',
 'Hawa Mahal, Jaipur',
 'Qutub Minar, New Delhi',
 'Sanchi Stupa, Sanchi',
 'Charminar, Hyderabad']

In [123]:
desc

['Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.',
 'The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, India, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.',
 'Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.',
 'The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in India after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.',
 'Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.',
 'Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.',
 'Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.',
 'Discover one of the tallest towers in the world and the second tallest Minar of India standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.',
 'The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.',
 'No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.']

In [144]:
#image url

In [131]:
images=soup.find_all('img')

for i in images:
    print(i['src'])

https://www.facebook.com/tr?id=120737145081077&ev=PageView
&noscript=1
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/logo/puredestinations.png
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
https://www.puredestinations.co.uk/wp-content/uploads/2016/11/INDIA-BLOG-HEADER-1600x500.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/accreditations/abta.png
data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/accreditations/protected.png
https://www.facebook.com/tr?id=106387616371570&ev=PageView&noscript=1

In [133]:
df=pd.DataFrame({'Names':name,'Description':desc})
df

,Names,Description
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th..."
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ..."
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a..."
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...